{% extends 'base.html' %}
{% block content %}
<h1>Quiz Central</h1>
<ol>
<form action="/postanswer/{{ quiz.id }}/{{ question.id }}/" method="post">{% csrf_token %}
        <ol>
        {{ answerForm.as_ul }}
        </ol>
        <input type="submit" value="Submit" />
</form>
<p></p>
<h4>{{ quiz.name }} - {{question.string}}</h4>
{% for answer in answerList %}
<!--    <li>{{ answer.string }}</li> -->
    <li>{{ answer.string }} ({{answer.get_value_display}})</li>
{% empty %}
    <li>This question has no answers.  To add an answer, enter the text into into the box above!</li>
{% endfor %}
</ol>
{% endblock %}
