{% extends 'base.html' %}
{% block content %}
<h1>Create a Quiz</h1>
<h2>{{ quiz.name }}</h2>
<form action="/postquestion/{{ quiz.id }}/" method="post">{% csrf_token %}
	<ul>
        {{ questionForm.as_table }}
        <input type="submit" value="Submit" />
	</ul>
</form>
<p></p>
<h4>Questions</h4>
<ol>
<table>
{% for question in questionList %}
    <tr><td><li><a href="/quizzes/{{ quiz.id }}/{{question.id}}/">{{ question.string }}</a></li></td>
    <td><form method="post" action='/deletequestion/{{ question.id }}/'>{% csrf_token %}<input type="submit" value="Delete"/></form></td></tr>
{% empty %}
    <li>This quiz has no questions.  To add a question, enter the text into into the box above!</li>
{% endfor %}
</table>
</ol>
{% endblock %}
