{% extends 'base.html' %}
{% block content %}
<h1>Create a Quiz</h1>
<h2>{{ quiz.name }}</h2>
<form action="/postquestion/{{ quiz.id }}/" method="post">{% csrf_token %}
	<ul>
        {{ questionForm.as_ul }}
        <input type="submit" value="Submit" />
	</ul>
</form>
<p></p>
<h4>Questions</h4>
<ol>
{% for question in questionList %}
<!--    <li>{{ question.string }}</li> -->
    <li><a href="/quizzes/{{ quiz.id }}/{{question.id}}/">{{ question.string }}</a></li>
{% empty %}
    <li>This quiz has no questions.  To add a question, enter the text into into the box above!</li>
{% endfor %}
</ol>
{% endblock %}
