{% extends 'base.html' %}
{% block content %}
<h1>Quiz Central</h1>
<ol>
<form action="/postquestion/" method="post" enctype="multipart/form-data>{% csrf_token %}
<textarea name="myTextBox" cols="50" rows="5">
Enter a new question here
</textarea>
<br />
<input type="submit" />
</form>

<form action="/postquestion/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<label for="questionstring">Enter a new question here:</label>
	<input type="text" name="questionstring"<br>
	<input type="hidden" name="quizid" value={{ quizName }}>
	<input type="submit" value="Submit">
</form>
<p></p>
<h4>{{ quizName }}</h4>
{% for question in questionList %}
<!--    <li>{{ question.string }}</li> -->
    <li><a href="/quiz/{{ quiz.name }}/">{{ question.string }}</a></li>
{% empty %}
    <li>This quiz has no questions.  To add a question, enter the text into into the box above!</li>
{% endfor %}
</ol>
{% endblock %}
