{% extends 'base.html' %}
{% block content %}
<h1>Quiz Central</h1>
<ul>
<form action="/postquiz/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<label for="quizname">Enter the name of a new quiz here:</label>
	<input type="text" name="quizname"<br>
	<input type="submit" value="Submit">
</form>
</ul>
<p></p>
<h4>Existing Quizzes</h4>
<ul>
{% for quiz in quizList %}
<!--    <li>{{ quiz.name }}</li> -->
    <li><a href="/quizzes/{{ quiz.id }}/">{{ quiz.name }}</a> - <a href="{% url 'deletequiz' pk=quiz.id %}">Delete</a></li>
{% empty %}
    <li>You haven't created any quizzes yet.  To make your first, enter a quiz title into the box above!</li>
{% endfor %}
</ul>
{% endblock %}
