body {
	background-color: #E5E6E4;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #669900;
}

#nav li {
	float: left; 
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #d5ff80;
	border-right: 1px solid #ccc; 
}

#nav li a:hover {
	color: #ffffff;
	background-color: #88cc00; 
}


input[type=text], 
input[type=password], 
select {
    padding: 6px 6px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #669900;
    color: #d5ff80;
    padding: 6px 6px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #ffffff;
	background-color: #88cc00;
}

#results {
	border-collapse: collapse;
	border: 1px solid #999;
	padding: 0.5rem;
}

#orderedtable {
	margin-left: 0px;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginbut {
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  width: 86%;
  height: 30px;
}

.centerme{
	margin-left: 100px;
}

h1,h2,h3,
h4,h5,h6,
table,
form,
.options {
	margin-left: 20px;
}