body {
    background-color: #E5E6E4;

/*    font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {
/*
    color: navy;
*/
    margin-left: 20px;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #669900;
/*	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
*/
}
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #d5ff80;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #ffffff;
	background-color: #88cc00; }
